@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background: url(../../public/Media/bg.png);
} */
#hero-landing {
    background-image: url(../../public/Media/landingHero.png);
    z-index: -1;
}
